/* Group 1 */
#name-input{
    width: 360px;
    height: 40px;
    border:  1px solid #808080;
    border-radius: 4px;
}
#name-input:active::placeholder{
    border-color: #000000;
}
#name-input:active{
    border-color: #000000;

}
#name-input[placeholder]{
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    padding: 8px 0 8px 16px ;

}
h1{
    font-size: 24px;
    line-height: 32px;
    color: #2E2F42;
    padding: 8px 0 8px 0;

}

