/* 1 */

position: absolute;
width: 360px;
height: 300px;
left: 156px;
top: 100px;

background: url(ux-indonesia-qC2n6RQU4Vw-unsplash.jpg);


/* Section 1 */

position: absolute;
width: 1128px;
height: 300px;
left: 156px;
top: 100px;

