#categories , .item li{
    list-style: none;
    padding: 0;
    
}
.item{
    background-color: #F6F6FE;
    box-sizing: border-box;
    border-radius: 4px;
    width: 392px;
    height: 100%;
}
h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 16px 0 8px 16px;
    color: #2E2F42;
}
.item li{
    font-size: 16px;
    color: #2E2F42;
    padding: 8px;
    margin: 0;
    border:  1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    box-sizing: border-box;
    
}
.sublist{
    padding: 8px;
    margin: 8px;
}

.item li:not(:last-child){
    margin-bottom: 8px;
}







