.widget {
  width: 345px;
  padding: 80px 24px;         
  margin: 100px auto;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;

  display: flex;              
  flex-direction: column;
  justify-content: center;
  gap: 24px;                  
}

.widget p {
  font-size: 16px;
}

.change-color {
  width: 148px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #5b6cff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  gap: 10px;
  margin: 0 auto;
}

.change-color:hover{
    background-color: #6C8CFF;
}



