.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 1128px;

}
.gallery-item{
    width: 360px;
    height: 300px;
    overflow: hidden;
}
.gallery-image{
    width: 360px;
    height: 300px;
    object-fit: cover;
}




